<!DOCTYPE html>
<html lang="en-us" ng-app="sample-ui">
    <head>
        <title>AngularJS Sample Application</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-10">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="bootstrap.css" />
        <script src="jquery-3.1.1.js"></script>
        <script src="bootstrap.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.5/nv.d3.min.css'/>
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em !important;
            }
        </style>
        
        <!-- load angular via CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-resource.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.5.1/restangular.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.5/nv.d3.min.js"></script>
        
       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.9/angular-nvd3.min.js"></script>
        <script src="app/helloworld.module.js"></script>
        <script src="app/helloworld.routes.js"></script>
        <script src='app/restAngular.js'></script>
        <script src='app/home/HelloworldHomeCtrl.js'></script>
        <script src='app/contact/HelloworldContactCtrl.js'></script>
 
        <script type="text/ng-template" id="main.html">
 <section>
  <div class="row">
    <div class="col-sm-12">
      <h1>Hello {{home.user.name}}!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Where would you like to navigate to?</h3>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <a ui-sref="contact">My Contact List</a>
    </div>
  </div>
</section>

</script>
<script type="text/ng-template" id="contact-list.html" >
<section class='col-sm-10 col-sm-offset-1'>
  <form class="form-horizontal">
    <div class='row'>
      <div class="form-group">
      <h1 class="col-sm-10" style="margin-left:0px">Create New Contact</h1>
      </div>
    </div>
  
  <div class="row">
    
      <div class='form-group'>
        <div class='col-sm-8'>
           <label for="firstName" class="left inline">First Name</label>
           <input type="text" class='form-control' id="firstName" placehoder="First Name" ng-model="hello.firstName">
        </div>
    </div>
      <div class='form-group'>
        <div class="col-sm-8">
          <label for="lastName" class="left inline">Last Name</label>
            <input type="text" class='form-control' id="lastName" placehoder="Last Name" ng-model="hello.lastName">
           </div>
      
      </div>
      <div class='form-group'>
        <div class="col-sm-8">
           <label for="email" class="left inline">E-Mail</label>
           <input type="text"  class='form-control' id="email" placehoder="E-Mail" ng-model="hello.email">
        </div>
      </div>
      <div class='form-group'>
        <div class="col-sm-8">
             <label for="phone" class="left inline">Phone</label>
             <input type="text" class='form-control' id="phone" placehoder="Phone" ng-model="hello.phone">
        </div>
    </div>
     <div class='form-group'>
        <div class="col-sm-8">
           <label for="email" class="left inline">Your E-Mail</label>
           <input type="text"  class='form-control' id="email" placehoder=" Your E-Mail" ng-model="hello.api_key">
        </div>
      </div> 
      <div class="row">
        <div class="col-sm-10">
          <button type="button" class="btn btn-primary" ng-click="hello.save()">Create</button>
        </div>
      </div>
      </div>
    </div>
    </div>
  </form>
</section>

<section class="col-sm-12" style='padding-left:0px'>
  <div class="row">
    
    <div class="col-sm-10 col-sm-push-1" style='margin-left:0px'>
      <h1>My Contact List</h1>
    </div>
    
  </div>
  <div class="row">
    <div class='col-sm-10 col-sm-offset-1'>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone Number</th>
          <th>E-Mail Address</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat='user in hello.users'>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.email}}</td>
      </tr>
      </tbody>
      
    </table>
    <button type='button' class='btn btn-danger' ng-click='hello.delete()'>Reset</button>
    </div>
  </div>
</section>
<nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>
<nvd3 options="details" data="info" class="with-3d-shadow with-transitions"></nvd3>
</script>
<script type="text/ng-template" id="linegaph.html" >

</script>

    
    </head>
    <body>

        <header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">AngularJS Sample</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a ui-sref="home"><i class="fa fa-home"></i>Home</a></li>
                    <li><a ui-sref="contact"><i class="fa fa-info-circle"></i>Contacts</a></li>
				</ul>
			</div>
		</header>

        <div>
         
            <ui-view></ui-view>

		</div>

    </body>
</html>